<script src="../scripts/initializer/init_slider.js"></script>
<!-- SECTION -->

<div class="rslides_container" style="margin-top: 5px;">
  <ul class="rslides" id="slider1">
    <li><img src="styles/images/slide1.jpg" alt=""></li>
    <li><img src="styles/images/slide2.jpg" alt=""></li>
  </ul>
</div>
<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="row">
          <div class="col s12">
            <div class="card medium teal lighten-5">
              <div class="center"><img src="../styles/images/target.png" style="margin-top: 20px;" height="85px" width="90px"/></div>
              <div class="container"><span class="card-title teal-text" style="font-weight: bold;"> Nuestro Objetivo </span></div>
              <div class="card-content teal-text">
                <p>Brindar apoyo inmediato en la desvastecimiento de medicamentos que padece el sistema (de salud).
                  Dar soporte a todos aquellos ciudadanos de bajos recursos en la carencia de suplemento médicos inmediatos</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="row">
          <div class="col s12">
            <div class="card medium teal lighten-5">
              <div class="center"><img src="../styles/images/mission.png" style="margin-top: 20px;" height="100px" width="105px"/></div>
              <div class="container"><span class="card-title teal-text" style="font-weight: bold;"> Nuestra Mision </span></div>
              <div class="card-content teal-text">
                <p>La Misión de Helpi, es la de mejorar la calidad de vida de los pacientes en los hospitales
                   públicos por medio de las donaciones de personas con deseos de ayudar.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="row">
          <div class="col s12">
            <div class="card medium teal lighten-5">
              <div class="center"><img src="../styles/images/contact.png" style="margin-top: 20px;" height="85px" width="90px"/></div>
              <div class="container"><span class="card-title teal-text" style="font-weight: bold;"> Contáctanos </span></div>
              <div class="card-content teal-text">
                <p>Para mas información, dudas, consultas o sugerencias puedes escribirnos al correo soporte@helpi.org
                  o llámanos al teléfono +504 2230-5500 y con gusto te atenderemos.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<footer class="page-footer teal lighten-4">
 <div class="container">
   <div class="row">
     <div class="col l6 s12">
       <h5 class="teal-text">Contenido Helpi</h5>
       <p class="teal-text text-lighten-1">Aqui puedes encontrar todo acerca de helpi.</p>
     </div>
     <div class="col l4 offset-l2 s12">
       <h4 class="teal-text">Enlaces</h5>
       <ul>
         <li><a href="https://www.facebook.com/helpiHonduras/" class="teal-text text-lighten-1">Visitanos</a></li>
       </ul>
     </div>
   </div>
 </div>
 <div class="footer-copyright">
   <div class="container teal-text">
   © 2016 Copyright Christian & Mauricio Inc.
   </div>
 </div>
</footer>
