<script>
  $('#opencasemodal').on('click', function(){
    $('#modal2').openModal();
  })
</script>

<div class="container" ng-controller="labController">
  <table>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Ubicacion</th>
    <th>Capacidad</th>
  <tr ng-repeat="Lab in Labs">
    <td>{{ Lab.Nombre }}</td>
    <td>{{ Lab.Descripcion }}</td>
    <td>{{ Lab.Ubicacion }}</td>
    <td>{{ Lab.Capacidad }}</td>
    <td><span ng-click="deleteLab(Lab)"><i class="material-icons">delete</i></span></td>
  </tr>
</table>

<br>
<br>
<div class="row">
    <div class="col s12 m3 l3"><p> </p></div>
    <a id="opencasemodal"  class="waves-effect waves-light col s12 l6 m6 btn green accent-3"><i class="material-icons left">note_add</i>Agregar Lab</a>
    <div class="col s12 m3 l3"><p> </p></div>
</div>

<div id="modal2" class="modal">
  <div class="modal-content green accent-1">
    <form>
    <h4 id="brand_Name">Agregar Laboratorio</h4>
    <div class="row">
      <div class="col s12 m2 l2"><p> </p></div>
      <div class="input-field col s12 m8 l8">
        <!-- <i class="material-icons prefix">perm_identity</i> -->
        <input id="nombre" type="text" class="validate" ng-model="Lab.id">
        <label for="nombre">id</label>
      </div><div class="col s12 m2 l2"><p> </p></div>
    </div>
    <div class="row">
      <div class="col s12 m2 l2"><p> </p></div>
      <div class="input-field col s12 m8 l8">
        <!-- <i class="material-icons prefix">perm_identity</i> -->
        <input id="nombre" type="text" class="validate" ng-model="Lab.Nombre">
        <label for="nombre">Nombre</label>
      </div><div class="col s12 m2 l2"><p> </p></div>
    </div>
      <div class="row">
        <div class="col s12 m2 l2"><p> </p></div>
        <div class="input-field col s12 m8 l8">
          <textarea id="textarea1" class="materialize-textarea" ng-model="Lab.Descripcion"></textarea>
          <label for="textarea1">Descripcion</label>
        </div><div class="col s12 m2 l2"><p> </p></div>
      </div>
      <div class="row">
        <div class="col s12 m2 l2"><p> </p></div>
        <div class="input-field col s12 m8 l8">
          <textarea id="textarea2" class="materialize-textarea" ng-model="Lab.Ubicacion"></textarea>
          <label for="textarea2">Ubicacion</label>
        </div><div class="col s12 m2 l2"><p> </p></div>
      </div>
    <div class="row">
      <div class="col s12 m2 l2"><p> </p></div>
      <div class="input-field col s12 m8 l8">
        <input id="Goal" type="text" ng-model="Lab.Capacidad">
        <label for="Goal">Capacidad</label>
      </div><div class="col s12 m2 l2"><p> </p></div>
    </div>
    </form>
  </div>
  <div class="modal-footer green accent-2">
    <a class="modal-action modal-close waves-effect waves-light btn-flat green accent-3" style="color: #fff;" ng-click="addLab(Lab)">Agregar</a>
  </div>
</div>

</div>
