<div class="container" ng-controller="sessionController">
  <table>
    <th>Email</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Telefono</th>
    <th>Departamento</th>
    <th>Campus</th>
  <tr ng-repeat="user in users ">
    <td>{{ user.Email }}</td>
    <td>{{ user.Nombre }}</td>
    <td>{{ user.Apellido }}</td>
    <td>{{ user.Telefono }}</td>
    <td>{{ user.Departamento }}</td>
    <td>{{ user.Campus }}</td>
    <td><span ng-click="deleteUser(user)"><i class="material-icons">delete</i></span></td>
  </tr>
</table>
<br>
<br>
</div>
